* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

body {
	width: 100%;
	height: 100vh;

	overflow-x: hidden;

	color: white;

	font-family: Arial;
}

button {
	cursor: pointer;
}

.nav-bar a {
	text-decoration: none;
	color: yellowgreen;

	transition: 0.17;
}

.nav-bar a:hover {
	color: rgb(169, 230, 49);
}

.nav-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60%;

	width: 100%;

	padding: 8px 0px;

	background-color: #202020;

	position: fixed;
	top: 0px;
	left: 0px;
}

.nav-bar span {
	font-size: 32px;
	font-weight: 800;

	letter-spacing: 2px;

	color: cyan;

	text-shadow: 2px 2px 8px cyan;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 300px;
}

.hero-con {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 44px;

	width: 100%;
	height: 400px;

	background-image: linear-gradient(135deg, cyan, yellowgreen);
}

.hero-con h1 {
	font-size: 44px;
}

.hero-con p {
	font-size: 20px;
}

.hero-con button {
	font-size: 18px;
	
	padding: 8px 14px;

	border-style: none;
	border-radius: 6px;

	background-color: rgb(60, 200, 200);

	color: white;

	transition: 0.17s;
}

.hero-con button:hover {
	background-color: rgb(59, 210, 210);
}

.card-con {
	width: 100%;
	height: 400px;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.card {
	display: flex;
	flex-direction: column;
	gap: 8px;

	width: 20%;
	height: 40%;

	border-radius: 16px;

	background-color: #fff;

	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.350);

	color: black;

	cursor: pointer;
	
	padding: 12px;

	position: relative;

	transition: 0.17s ease-in-out;
}

.card:hover {
	transform: translate(-8px, -8px);
}

.card h2 {
	color: yellowgreen;
}

.card-sp {
	background-color: red;
	color: white;

	padding: 4px 8px;

	border-radius: 12px;

	position: absolute;
	top: -16px;
	right: -16px;
}

.help-btn {
	display: inline-block;

	width: 44px;
	height: 44px;

	position: fixed;
	bottom: 12px;
	right: 12px;

	z-index: 20;

	border-style: none;
	border-radius: 50%;

	color: white;
	font-weight: 400;

	background-color: #222222;
}

.help-btn:hover {
	background-color: #404040;
}

.help-btn::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 118%;
  left: -50%;
  transform: translateX(-50%) scale(0.9);
 
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.help-btn:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}